<div>
  <h1 class="grey">
    <%= basket_header.shop_date_string %>
  </h1>
  <p>
    <%= basket_header.shop.name %>     
    <span class="grey">
      <%= format_price basket_header.cost %>
    </span>
  </p>
</div>