html, body {
	padding: 0;
	margin: 0;
	font-family: arial;
}

body {
	text-align: center;
}

input[type=text] {
	padding: 0.6em;
	border: none;
	outline: none;
	margin: 0;
	font-size: 1em;
}

code {
	font-family: 'Courier New';
}

.grey {
	color: #555;
}

.notice {
	color: green;
}

.error {
	color: red;
}

#header {
	padding: 1em;
	background-color: #CCC;
	border-bottom: 1px solid #999;
	text-align: center;
}

#content {
	width: 55em;
	margin: 0 auto;
	text-align: left;
	padding: 1em;
}

#new_purchase {
	border-style: solid;
	border-color: #ADA;
	border-width: 5px;
	background-color: #CFC;
	padding: 0.5em 1em;
	font-size: 1.5em;
	position: relative;
	z-index: 2;
}

#new_purchase,
#new_purchase input,
#existing_purchases {
	font-family: courier;
}

#new_purchase .progress {
	float: right;
	background: url('/images/green-spinner.gif') no-repeat center center;
	width: 3em;
	height: 2.5em;
	text-align: center;
}

#new_purchase.new-product {
	border-color: #DDA;
	background-color: #FFC;
}

#new_purchase.new-product .progress {
	background-image: url('/images/yellow-spinner.gif');
}

#product_name,
#product_ean {
	width: 16em;
	padding: 0.6em;
	display: block;
}


#product_ean {
	margin-top: 0.2em;
}

input[disabled] {
	color: gray;
}

.new-product-wrapper td {
	height: 2.3em;
	margin: 0 0.3em;	
	overflow: hidden;
	display: inline-block !important;
}

.new-product-wrapper td.product-wrapper {
	width: 17em;
}

#purchase_quantity,
.purchase-quantity {
	width: 2em;
	text-align: right;
}

#purchase_unit_price {
	text-align: right;
}

.product-name,
.purchase-quantity,
.purchase-cost,
.purchase-controls {
	float: left;
}

.purchase-quantity {
	text-align: right;
	width: 4em;
}

.product-name {
	padding: 0 2em;
	width: 14em;
}

.purchase-cost {
	width: 5em;
	text-align: right;
	padding-left: 3em;
}

.purchase-controls {
	padding-left: 1em;
	font-size: 0.7em;
	color: white;
	display: none;
}

.purchase-controls a {
	color: inherit;
}


.purchase-controls a:hover {
	text-decoration: underline;
}

.purchase {
	height: 1.2em;
	clear: both;
}

.purchase.hover {
	font-weight: bold;
	background-color: black;
	color: white;
}

#purchase_unit_price {
	width: 5em;
}

#existing_purchases {
	font-size: 1.5em;
}