<div>
  <div style="width: 100px; height: 1em;border: 1px solid black;">
    <div style="width: <%= bill.proportion %>px; height: 1em; background-color: red">
      <span><%= bill.proportion %>%</span>
    </div>
  </div>
</div>