<h1><%= @product.name %></h1>
<code><%= @product.ean %></code>
<hr />

<p>You have bought <%= @product.purchase_count %> of these in total, from <%= pluralize(@product.purchases.length, 'shopping trip') %>.</p>